$primary: #1160ce;
$info: #00d7ff;
$success: #6bcb77;
$warning: #ffd93d;
$danger: #ff6b6b;

$body-bg: #f5f5f9;

$DARK: #1f2937;

$pagination-hover-bg: $primary;
$pagination-hover-border-color: $primary;

$pagination-active-bg: $primary;
$pagination-active-border-color: $primary;
